{% load static %}
<html >
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Universal Informatics</title>
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static 'images/rose.JPEG' %}" rel="'icon" />
</head>
<body>
<div id="wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href={{curl}}>Home</a></li>
			<li><a href="{{curl}}about/">About</a></li>
			<li><a href="{{curl}}contact/">Contact</a></li>
			<li><a href="{{curl}}service/">Service</a></li>
			<li><a href="{{curl}}register/">Register</a></li>
			<li><a href="{{curl}}login/">Login</a></li>
		</ul>
	</div>
	<!-- end #menu -->